
*.cache
*.dll
*.dll
*.xml
*.pdb
*.json
*.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/bin/Debug/net6.0/Abgaben2.pdb
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/rider.project.restore.info
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/project.packagespec.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/project.assets.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Debug/net6.0/Abgaben2.pdb
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Debug/net6.0/Abgaben2.GeneratedMSBuildEditorConfig.editorconfig
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Debug/net6.0/Abgaben2.AssemblyInfo.cs
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Abgaben2.csproj.nuget.g.props
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Abgaben2.csproj.nuget.dgspec.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/bin/Debug/net6.0/Abgaben2.pdb
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/rider.project.restore.info
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/project.packagespec.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/project.assets.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Debug/net6.0/Abgaben2.pdb
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Debug/net6.0/Abgaben2.GeneratedMSBuildEditorConfig.editorconfig
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Debug/net6.0/Abgaben2.AssemblyInfo.cs
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Abgaben2.csproj.nuget.g.props
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Abgaben2.csproj.nuget.dgspec.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/bin/Debug/net6.0/Abgaben2.pdb
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/bin/Debug/net6.0/Abgaben2.pdb
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Abgaben2.csproj.nuget.dgspec.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Abgaben2.csproj.nuget.g.props
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Debug/net6.0/Abgaben2.AssemblyInfo.cs
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Debug/net6.0/Abgaben2.GeneratedMSBuildEditorConfig.editorconfig
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/Debug/net6.0/Abgaben2.pdb
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/project.assets.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/project.packagespec.json
cSharp/p1/EinsAbgabe2/Abgaben2/Abgaben2/obj/rider.project.restore.info
Java/not_mine
